/* ***********************************************************************
 * App.css
 * -----------------------------------------------------------------------
 * CSS styling for App.js.
 * -----------------------------------------------------------------------
 * Author:      Jonas Nilsson
 * Version:     1.0
 * Date:        2020-07-27
 * ***********************************************************************/
 
.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  text-align: center;
}